/* main colors */
$color__primary: #244985;
$color__secondary: #E45510;
$color__white: #ffffff;

/* primary colors */
$color__primary-dark: #101820;
$color__primary-80: #132645;
$color__primary-60: #203352;
$color__primary-40: #384E72;
$color__primary-20: #DFD5E6;

/* text colors */
$color__link: #E45510;
$color__link-hover: #f5414f;
$color__text-main: #101820;

/* feedback */
$color__success: #88c459;
$color__error: #f5414f;
$color__warning: #ffd137;

/* Backgrounds colors */
$color__ligth: #F4F5F7;
$color__gray: #c4cdd5;
$color__gray-dark: #444;


/* Border radius */
$border__radius: 24px;

/* Fonts */
$font__main: 'Nunito', sans-serif;
$font__heading: 'Bebas Neue', cursive;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-header: 1.2;
$font__line-height-pre: 1.6;


/* set base value. You can change this value */
$space__unit: 1rem;

/* space scale */
$space-0: calc(0.5 * #{$space__unit}); // 8px
$space-1: $space__unit; // 16px
$space-2: calc(1.5 * #{$space__unit}); // 24px
$space-3: calc(2 * #{$space__unit}); // 32px
$space-4: calc(2.5 * #{$space__unit}); // 40px

$space-5: calc(3.5 * #{$space__unit}); // 56px
$space-6: calc(4 * #{$space__unit}); // 64px
$space-7: calc(4.5 * #{$space__unit}); // 72px
$space-8: calc(5 * #{$space__unit}); // 80px

$space-9: calc(6 * #{$space__unit}); // 96px
$space-10: calc(7 * #{$space__unit}); // 112px